@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;  
  text-align: center;
  background-image: url(/polymesh10-08-01.jpg);
  background-size: 100%;
}

body.rtl {
  direction: rtl;
}

body.rtl .btn-delete {
  float: left;
}

.addBookInf  {
  border-radius: 4px;
  height: 2em;
  text-align: center;
  cursor: pointer;

}
.txt-filter{
  border-radius: 4px;
  height: 2em;
  text-align: center;
  cursor: pointer;

}

.th-id {
  width: 10em;
}

h1 {
  text-align: center;
  color: rgb(29, 28, 28);
  font-family: 'Raleway', sans-serif
}

select {

  border: none;
  width: 7em;
  height: 1.7rem;
  border-radius: 4px;
  cursor: pointer;

}

.addBook:hover {
  background-color: rgb(127, 143, 126);
}

.nextPage {
  border: none;
  width: 7em;
  height: 1.7rem;
  border-radius: 4px;
  margin-top: 3em;
}

table,
td {
  border-collapse: collapse;
  width: 45em;
  height: 2em;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: center;
  text-align: center;
  margin: auto;
}

.action-read {
  text-align: center;
}

.action-update {
  text-align: center;
}

.action-delete {
  text-align: center;
}

.add-book {
  margin: auto;
}

.modal-reading {
  background-color: rgb(206, 197, 197);
  padding: 0.5em;
  position: absolute;
  top: 0px;
  left: 170%;
  height: 100vh;
  display: none;
  text-align: center;
}

.modal-reading.open {
  left: 80%;
  transition: left .5s;
  display: block;
}

.filter-by {
  margin: auto;
}

.book-container {
  margin: auto;
}



